name: Render and Publish

on:
    push:
      branches:
        - main  # Change this to the branch you want to trigger the action on

jobs:
  build:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Render notebook to HTML
        run: |
          cd src && \
          for f in *.ipynb; do
            uv run quarto render $f --to html --self-contained 
          done 
          
      - name: Copy notebooks to destination folder
        run: | 
          mkdir -p _build && mv src/*.html _build

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
            path: _build
        
  deploy:
    environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
    permissions:
        pages: write      # to deploy to Pages
        id-token: write   # to verify the deployment originates from an appropriate source
    runs-on: ubuntu-latest
    needs: build
    steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4
